@*
    HISMasterLayout(可自訂內容)

      作業視窗主頁 Layout (套用基礎 Layout), 內含作業視窗共同網頁內容, 如系統選單列等.

      適用 : 主要作業視窗(需系統選單者)

      *繼承 Layout 必須實作 head, body 等程式區塊(Section)否則將引發例外.
*@
@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section head
{
    @RenderSection("head", required: true)
}
@section body
{
    <style type="text/css">
    </style>
    <header>
        <div class="content-wrapper" style="background-color: #99b2db ; border-color:#99b2db;">
            <div class="float-left">
                <p class="site-title" id="icunis" style="cursor: pointer;">ICU NIS</p>
            </div>
            <div class="float-right">
                <a style="cursor: pointer;float:left;margin-left:10px; text-decoration:none;" class="navbar-brand" onclick="location.href = '/Home/Index'">Sign out</a>
            </div>
            <div class="float-right" style="margin-left:1px;">
                <div style="float:left" >
                    <img id="login_img" src="" width="50" height="50">
                </div>
                <div style="float:left; margin-top:12px;margin-left:5px;font-size:20px;font-family:DFKai-SB;">
                    <p id="username">@ViewBag.username</p>
                </div>
            </div>

        </div>
    </header>
    <br />
    <br />
    <div>
        @RenderSection("featured", required: false)
        @RenderSection("body", required: true)
        <section>
            @RenderBody();
        </section>
    </div>
    <script>
        var myValue = document.getElementById("username").textContent;
        $(function () {

            if (myValue == "家琦") {
                document.getElementById("login_img").src = "https://i.ibb.co/t29DkvM/71360.jpg";
            }
            if (myValue == "昭勤") {
                document.getElementById("login_img").src = "https://i.ibb.co/dMcWFHF/S-46653523.jpg";
            }
            if (myValue == "鴻勳") {
                document.getElementById("login_img").src = "https://i.ibb.co/j5XMV7T/603317.jpg";
            }
            if (myValue == "士軒") {
                document.getElementById("login_img").src = "https://imgur.com/D8y1Nl0.jpg";
            }
        })
        $("#icunis").click(function () {
            var change_data = {
                "UserName": myValue
            }
            $.ajax({
                type: "post",
                url: "Getifo",
                data: change_data,
                success: function (response) {
                    if (response == true) {
                        window.location.href = "Search"
                    }
                }
            });

        })

    </script>
    <style>
        #login_img {
            border-radius: 50%;
            max-height: 100%;
            max-width: 100%;
            object-fit:cover;
        }
    </style>
}